<html>
  <head>
    <title>Silicon Valley Ruby</title>
    <%= stylesheet_link_tag :all, :theme => true %>
    <%= javascript_include_tag :defaults, :theme => true %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id='page'>
      <%= yield %>
      
      <div id='footer'>
        <hr/>
        <p>
          Site layout inspired by <%= link_to "Ruby on Rails New Zealand", "http://rubyonrails.co.nz/" %>, <%= link_to "Eaden McKee", "http://github.com/eadz" %> and <%= link_to "David Jones", "http://github.com/djones" %>. 
        </p>
      </div>
    </div>
  </body>
</html>