<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<%= render :partial => "/shared/head" %>
    <body dir="ltr" class="no-js yog-ltr  yui-skin-sam">
        <div class="yog-page">
			<div class="yog-hd">
				<div id="header" class="yom-header yog-grid" role="banner">
					<style>/* fix for extra white space */
					#yUnivHead iframe {_display:none !important;}</style>
					<div id="yUnivHead" class="yucs-en-us">
						<a class="yucs-skipto-search" href="#yuhead-search">Skip to search.</a>
						<div class="yuhead-clearfix" id="yuhead-bd">        
							<div class="yuhead-logo">   
								<style>      
									.yuhead-logo h2
									{         
										width:225px;         
										height:35px;         
									}      
									.yuhead-logo a
									{         
										width:225px;         
										height:35px;      
									}      
									.yuhead-logo div.yuhead-comarketing 
									{       width:225px;      
									}         
								</style>   
								<h2>      <a target="_top" href="http://svruby.com/">         Silicon Valley Ruby (SVruby)      </a>   </h2>   
								<!-- comarketing component -->
							</div>        
							
							
					</div>
				</div>
					<%= render :partial => "/shared/menu" %>
			</div>
			<!-- ============================ -->
			
			<div id="searchform" class="yom-mod yom-searchform">
				<div class="bd"><!-- <form action="http://autos.yahoo.com/search" method="get"><fieldset><legend class="a11y">Search</legend><input type="hidden" value="UTF-8" name="ei"><input type="hidden" value="" name="fr"><ul><li><label for="searchform-p" class="a11y">Keyword</Label><input type="text" id="searchform-p" name="p" class="yom-field yom-field-search" value="Search" title="Search" /></li><li><button type="submit" id="searchform-submit" class="yom-button">Search</button></li></ul></fieldset></form> --></div>
				
			</div>
			<!-- ============================ -->
			
			<div class="yog-bd">
				<div class="yog-wrap yog-full" id="yui_3_3_0_1_1304916516908128">
				    <div class="yog-col yog-grid yog-24u">
				        <!-- --><!-- SpaceID=2142204230 loc=NT1 noad -->
				<script language="javascript">
				if(window.yzq_d==null)window.yzq_d=new Object();
				window.yzq_d['UykSTNj8ek4-']='&amp;U=12b2i74ov%2fN%3dUykSTNj8ek4-%2fC%3d-1%2fD%3dNT1%2fB%3d-1%2fV%3d0';
				</script><noscript>&lt;img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=RrLtBEPDlDlcbnXdSUWfngEQYtLIik3HciMADn7P&amp;T=17v24nj30%2fX%3d1304916516%2fE%3d2142204230%2fR%3dautos%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d498471050%2fH%3dc2VydmVJZD0iUnJMdEJFUERsRGxjYm5YZFNVV2ZuZ0VRWXRMSWlrM0hjaU1BRG43UCIgc2l0ZUlkPSI0NDA3MDUxIiB0U3RtcD0iMTMwNDkxNjUxNjAzNTE0NCIg%2fQ%3d-1%2fS%3d1%2fJ%3dDC878962&amp;U=12b2i74ov%2fN%3dUykSTNj8ek4-%2fC%3d-1%2fD%3dNT1%2fB%3d-1%2fV%3d0"&gt;</noscript>
				    </div>
				</div>
				
				<div id="yui_3_3_0_1_1304916516908160" class="yog-wrap yog-grid yog-24u">
					<!-- main column -->
					<div id="yui_3_3_0_1_1304916516908159" class="yog-col yog-16u yom-primary" role="main">
						<%= yield %>
					</div>
					<!-- sidebar on the right -->
					<div class="yog-col yog-8u yog-col-last yom-secondary" role="complementary">
						<!-- tabbed news -->
						<div id="mediatopstorycoke" class="yom-mod yom-top-story">
							<div class="hd"><div class="nav">
								<ul class="tabs">
									<li class="selected"><a id="yom-top-story-0" href="?mod_id=mediatopstory#mediatopstory">Most Popular</a></li><li><a id="yom-top-story-1" href="?mod_id=mediatopstory#mediatopstory">Latest News</a></li>
								</ul>
							</div></div>
						<div class="bd"><div class="yom-top-story-content-0">
							<ul class="yom-list yom-list-large">
								<%- @blog_posts = BlogPost.all -%>
								<% if !@blog_posts.blank? %>
								    <% @blog_posts.each do |blog_post| %>
								        <li class="nothumb first"><div class="content" id=""><div class="txt" id=""><%= link_to blog_post.title, blog_post_url(blog_post) %><cite> </cite></div><div class="preview"><div class="yom-mod"><div class="bd"><div class="content">Summary goes here<!-- <%= h(truncate(blog_post.body, :length => 100)) %> --></div></div></div></div></div></li>
								    <% end %>
								<% end %>		
							</ul>
						</div>
						<div class="yom-top-story-content-1 hide"><a class="more" href="/news/reports/">More Latest News&nbsp;»</a></div><div class="loading hide">&nbsp;</div></div></div>
						<!-- twitter and facebook -->
						<div id="MediaFeaturedListEditorial" class="yom-mod yom-featured-list">
							<div class="hd"><h3>Follow Us!</h3></div>
							<div class="bd">
								<ol>
									<li class="story first">
										<div class="img"><a alt="Join us on Facebook!" href="http://www.facebook.com/svruby"><img width="70" height="70" title="" alt="" src="http://l.yimg.com/bt/api/res/1.2/SW3ZAtuRDhblkMD_IVKSEA--/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTcwO3c9NzA-/http://media.zenfs.com/153/2011/02/11/Facebook-icon_141936.png"></a></div>
										<div class="txt"><h4><a alt="Join us on Facebook!" href="http://www.facebook.com/svruby">Join us on Facebook!</a></h4><p>Add Silicon Valley Ruby (SVruby) to your social network</p></div>
									</li>
									<li class="story last"><div class="img"><a alt="Follow us on Twitter!" href="http://twitter.com/svruby"><img width="70" height="70" title="" alt="" src="http://l.yimg.com/bt/api/res/1.2/FAiqUOw45mcqmIHoKZ5S1A--/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTcwO3c9NzA-/http://media.zenfs.com/153/2011/02/11/twitter_141936.png"></a></div>
										<div class="txt"><h4><a alt="Follow us on Twitter!" href="http://twitter.com/svruby">Follow us on Twitter!</a></h4><p>Get top Silicon Valley Ruby (SVruby) buzz in your feed</p></div>
									</li>
								</ol>
							</div>
						</div>
						<!-- sponsors -->
						<div id="MediaFeaturedListEditorial" class="yom-mod yom-featured-list">
							<div class="hd"><h3>Sponsors</h3></div>
							<div class="bd">
								<ol>
									<li class="story first">
										<div class="img"><a alt="Come to Jax!" href="http://jaxconf.com/"><img width="150" height="50" title="JAX JSF-summit June 20-23, San Jose" alt="" src="/images/button_bg_jaxus11.png"></a></div>
										<div class="txt"><h4><a alt="Come to JSF with us!" href="http://jaxconf.com/">Come to JSF with us!</a></h4><p>We will report back to SVruby what we see, but there's nothing like being there.</p></div>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- ============================ -->
			
			<!-- <div id="seo-footer" class="yog-wrap yog-full yom-stage">
				<div class="yog-col yog-grid yog-24u">
                    <div class="yom-mod yom-linkbox seo-footer-linkbox" id="seo-footer-linkbox"><div class="hd"><h2>New Cars on Silicon Valley Ruby (SVruby)</h2></div><div class="bd"><div class="content"><div class="wrap"><ul class="yom-list col first" style="width:16.666666666667%"><li class="first"><a href="http://autos.yahoo.com/nissan_trucks/;_ylt=Ak10F3z6LNwGjazsl_enFktGca9_;_ylu=X3oDMTBtNzB0ODBrBHBvcwMxBHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Nissan Trucks</span></a></li><li><a href="http://autos.yahoo.com/subaru/;_ylt=AgRtYC3FzgTx.meCawUkxfhGca9_;_ylu=X3oDMTBtcGUwcnZ2BHBvcwMyBHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Subaru Cars</span></a></li><li><a href="http://autos.yahoo.com/porsche/;_ylt=AubozJoiCM9DKULYlk1z.VNGca9_;_ylu=X3oDMTBtOWlsazlxBHBvcwMzBHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Porsche Cars</span></a></li><li><a href="http://autos.yahoo.com/rolls_royce/;_ylt=ArR7Ztsi.tPiTNQ8Z6o2uw9Gca9_;_ylu=X3oDMTBtcm84YnJwBHBvcwM0BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Rolls Royce Cars</span></a></li><li><a href="http://autos.yahoo.com/toyota/;_ylt=AqU7P8OykVEVl0ItKv6AthJGca9_;_ylu=X3oDMTBtODQxaXZ1BHBvcwM1BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Toyota Cars</span></a></li><li><a href="http://autos.yahoo.com/saab/;_ylt=Ak6TLFigkkBhJS1SojkuMGhGca9_;_ylu=X3oDMTBtaG9jZnI0BHBvcwM2BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Saab Cars</span></a></li><li><a href="http://autos.yahoo.com/audi/;_ylt=AouZuQKZqMySJu5Zsf2opjRGca9_;_ylu=X3oDMTBta3VlcWF2BHBvcwM3BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Audi Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/lotus/;_ylt=AiO4FNePYBAN.7k_5UO4QVJGca9_;_ylu=X3oDMTBtbnUwdWIyBHBvcwM4BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Lotus Cars</span></a></li></ul><ul start="9" class="yom-list col" style="width:16.666666666667%"><li class="first"><a href="http://autos.yahoo.com/nissan/;_ylt=AugRUXNciUP7S1a0iKHGRhdGca9_;_ylu=X3oDMTBta2JvcWVhBHBvcwM5BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Nissan Cars</span></a></li><li><a href="http://autos.yahoo.com/lexus/;_ylt=Art.7FFN1oLE3tFDJq5znUNGca9_;_ylu=X3oDMTBuaWNrdTl1BHBvcwMxMARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Lexus Cars</span></a></li><li><a href="http://autos.yahoo.com/volvo/;_ylt=AiXLHwmHNonmUBvwGlnibo1Gca9_;_ylu=X3oDMTBucHAzdDhnBHBvcwMxMQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Volvo Cars</span></a></li><li><a href="http://autos.yahoo.com/lamborghini/;_ylt=Ati76F5zMw4odWiX6QIKs9NGca9_;_ylu=X3oDMTBuNTU4YWY0BHBvcwMxMgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Lamborghini Cars</span></a></li><li><a href="http://autos.yahoo.com/toyota_trucks/;_ylt=Ah2QPPOCGIrLszndEhY2bFBGca9_;_ylu=X3oDMTBudGlnYTcyBHBvcwMxMwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Toyota Trucks</span></a></li><li><a href="http://autos.yahoo.com/lincoln/;_ylt=Ah3jRD33IzvRB1IVPnFn2VFGca9_;_ylu=X3oDMTBuY3J1am0zBHBvcwMxNARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Lincoln Cars</span></a></li><li><a href="http://autos.yahoo.com/ford/;_ylt=AhWGNAcUOik93cAO59oC_2xGca9_;_ylu=X3oDMTBuZjlwYm1sBHBvcwMxNQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Ford Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/ford_trucks/;_ylt=Ap2XEe0kj2DfWVJg3N6T1FhGca9_;_ylu=X3oDMTBuZjBzdnJwBHBvcwMxNgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Ford Trucks</span></a></li></ul><ul start="17" class="yom-list col" style="width:16.666666666667%"><li class="first"><a href="http://autos.yahoo.com/dodge/;_ylt=AkEg6JDVDw2P0Xf5W9WrYVZGca9_;_ylu=X3oDMTBucDkzbWF0BHBvcwMxNwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Dodge Cars</span></a></li><li><a href="http://autos.yahoo.com/acura/;_ylt=AtWM.ahguPuEAhhBV46RyPNGca9_;_ylu=X3oDMTBuc2xsNm51BHBvcwMxOARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Acura Cars</span></a></li><li><a href="http://autos.yahoo.com/scion/;_ylt=Amb2gcFHbm_j_sjtLyOlPVFGca9_;_ylu=X3oDMTBubWFoMG5pBHBvcwMxOQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Scion Cars</span></a></li><li><a href="http://autos.yahoo.com/chevrolet_trucks/;_ylt=AqFywgJeGRJsFg.OLZ7UoDNGca9_;_ylu=X3oDMTBubjdzcjFhBHBvcwMyMARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Chevrolet Trucks</span></a></li><li><a href="http://autos.yahoo.com/cadillac/;_ylt=Al6jCmaBjHolWXiEJfcOPDFGca9_;_ylu=X3oDMTBudm9oaWdsBHBvcwMyMQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Cadillac Cars</span></a></li><li><a href="http://autos.yahoo.com/mazda/;_ylt=AnNl5bML.ZXDoVqqbaWrrpdGca9_;_ylu=X3oDMTBuaXB0YnQ3BHBvcwMyMgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Mazda Cars</span></a></li><li><a href="http://autos.yahoo.com/honda/;_ylt=Am4Wur1Uqs7TZmLriAj0xk1Gca9_;_ylu=X3oDMTBuaDV0bXE4BHBvcwMyMwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Honda Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/maybach/;_ylt=AvKdbbSDZ.tgRY5HA5C7W7lGca9_;_ylu=X3oDMTBuMHI0YXFhBHBvcwMyNARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Maybach Cars</span></a></li></ul><ul start="25" class="yom-list col" style="width:16.666666666667%"><li class="first"><a href="http://autos.yahoo.com/pontiac/;_ylt=AtxCw1U8dYV9EEhyXEFsH0pGca9_;_ylu=X3oDMTBuc2szb21vBHBvcwMyNQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Pontiac Cars</span></a></li><li><a href="http://autos.yahoo.com/buick/;_ylt=AqrVm0iwgPKhi.f4OwS0n1hGca9_;_ylu=X3oDMTBuNGJnczA4BHBvcwMyNgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Buick Cars</span></a></li><li><a href="http://autos.yahoo.com/chevrolet/;_ylt=AoHNOfQz9TOSaWte56VmL8ZGca9_;_ylu=X3oDMTBubGF1cnY4BHBvcwMyNwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Chevrolet Cars</span></a></li><li><a href="http://autos.yahoo.com/gmc/;_ylt=AoNhPBFRzflNWNBofTxB_N1Gca9_;_ylu=X3oDMTBuc3BlamRrBHBvcwMyOARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>GMC Cars</span></a></li><li><a href="http://autos.yahoo.com/hyundai/;_ylt=AiD1FBeQSX9bAUqMqGLn_DtGca9_;_ylu=X3oDMTBuY3FxMXEyBHBvcwMyOQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Hyundai Cars</span></a></li><li><a href="http://autos.yahoo.com/kia/;_ylt=AncDbpMU34B8i688OvwMJjFGca9_;_ylu=X3oDMTBuYWo4YThxBHBvcwMzMARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Kia Cars</span></a></li><li><a href="http://autos.yahoo.com/chrysler/;_ylt=AnpoeAtU2Sz9qRO3gOlSPcZGca9_;_ylu=X3oDMTBuMGg3MTJxBHBvcwMzMQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Chrysler Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/infiniti/;_ylt=AoVnE2bGf4dfI0OZ9zFXCzxGca9_;_ylu=X3oDMTBudjJkcm11BHBvcwMzMgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Infiniti Cars</span></a></li></ul><ul start="33" class="yom-list col" style="width:16.666666666667%"><li class="first"><a href="http://autos.yahoo.com/suzuki/;_ylt=AuzpcNOjhpRmmd_OjUJvZghGca9_;_ylu=X3oDMTBuODB1NGY2BHBvcwMzMwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Suzuki Cars</span></a></li><li><a href="http://autos.yahoo.com/mitsubishi/;_ylt=AlyNc0wU3VJx5xuGG5bJgvNGca9_;_ylu=X3oDMTBuNG9vMDJnBHBvcwMzNARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Mitsubishi Cars</span></a></li><li><a href="http://autos.yahoo.com/maserati/;_ylt=ArK7goMq_sgs1H9u8dvXjWlGca9_;_ylu=X3oDMTBuN3BzZGd1BHBvcwMzNQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Maserati Cars</span></a></li><li><a href="http://autos.yahoo.com/hummer/;_ylt=ArLyaMNUhfotxtOvDmPFndtGca9_;_ylu=X3oDMTBuMHBzdjR1BHBvcwMzNgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Hummer Cars</span></a></li><li><a href="http://autos.yahoo.com/freightliner/;_ylt=AuMQWilHBaDhvMhfn5QUPPxGca9_;_ylu=X3oDMTBuMDA2OTJoBHBvcwMzNwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Freightliner Cars</span></a></li><li><a href="http://autos.yahoo.com/mercedes_benz/;_ylt=AoYMcZ6DO0.E3fiX2A7l5XBGca9_;_ylu=X3oDMTBuZXJjODUzBHBvcwMzOARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Mercedes-Benz Cars</span></a></li><li><a href="http://autos.yahoo.com/bentley/;_ylt=AkH2CkMTQgS2Puj8UeVdjQVGca9_;_ylu=X3oDMTBubDRiZ3U1BHBvcwMzOQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Bentley Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/dodge_trucks/;_ylt=AlfEtNZHrubOZdfN.rIA4B5Gca9_;_ylu=X3oDMTBuMWo2aHBhBHBvcwM0MARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Dodge Trucks</span></a></li></ul><ul start="41" class="yom-list col last" style="width:16.666666666667%"><li class="first"><a href="http://autos.yahoo.com/mini/;_ylt=AuCkq.qh58o64BAZkSe3V5ZGca9_;_ylu=X3oDMTBua2c0aDAyBHBvcwM0MQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Mini Cars</span></a></li><li><a href="http://autos.yahoo.com/aston_martin/;_ylt=AhQETyNls.qrYHtRPrjnfllGca9_;_ylu=X3oDMTBuNXZvbGllBHBvcwM0MgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Aston Martin Cars</span></a></li><li><a href="http://autos.yahoo.com/ferrari/;_ylt=Ar6zdAkgkULm7qsrBXBgoydGca9_;_ylu=X3oDMTBuazB1Ym5mBHBvcwM0MwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Ferrari Cars</span></a></li><li><a href="http://autos.yahoo.com/bmw/;_ylt=Ap42n3F8WI9I3t.8_a6HeE5Gca9_;_ylu=X3oDMTBuYzZ2MjFrBHBvcwM0NARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>BMW Cars</span></a></li><li><a href="http://autos.yahoo.com/mercury/;_ylt=AsHpDSOhlx9cl4eNNHoHb2FGca9_;_ylu=X3oDMTBuNWN0cmthBHBvcwM0NQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Mercury Cars</span></a></li><li><a href="http://autos.yahoo.com/land_rover/;_ylt=Ag8FHznUJsQhGeSib2DBtzNGca9_;_ylu=X3oDMTBucnRuaHByBHBvcwM0NgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Land Rover Cars</span></a></li><li><a href="http://autos.yahoo.com/tesla/;_ylt=AglzcZ4IBiCDCkOaPSeAp65Gca9_;_ylu=X3oDMTBuY2I1a2ZzBHBvcwM0NwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Tesla Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/smart/;_ylt=Ah3aj1Q3wOiTsy48oH9GB.RGca9_;_ylu=X3oDMTBuc2twc2duBHBvcwM0OARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD" ><span>Smart Cars</span></a></li></ul></div></div></div></div>

                </div> -->
                
			</div>
			<!-- ============================ -->
			<div class="yog-ft">
				
				                <div id="footer">
				                    <!--?xml version="1.0" encoding="utf-8"?--><root></root>
				                    <div class="yom-mod yom-footer-links" id="footer-links">
				                        <div class="bd">
				                            <div class="yog-grid yog-24u">
				                                <div class="yog-wrap">
				                                    <div class="yog-col yog-7u">
				                                        <div class="yom-mod yom-nav-footer" id="nav-footer"><div class="hd"><h2>Silicon Valley Ruby (SVruby)</h2></div><div class="bd"><div class="content"><div class="wrap">
															<ul class="yom-list col first" style="width:50%">
																<%= render :partial => "/shared/footer_sections" %>
																
																<!-- <li class="first"><a href="/" title="Home page"><span>Home</span></a></li><li><a href="/new-cars.html" title="New Cars on Silicon Valley Ruby (SVruby) Legacy site"><span>New Cars</span></a></li><li><a href="/used_cars.html" title="Used Cars tab on Legacy Autos site"><span>Used Cars</span></a></li><li><a href="/news/" title="News"><span>News</span></a></li><li class="last"><a href="/car-finance/" title="Finance landing page for Legacy Autos site"><span>Finance</span></a></li></ul><ul start="6" class="yom-list col last" style="width:50%"><li class="first"><a href="/car-insurance/" title="Insurance tab for Autos Legacy site"><span>Insurance</span></a></li><li><a href="/maintain/" title=""><span>Maintain</span></a></li><li><a href="/green/" title="Green Cars"><span>Green Center</span></a></li><li class="last"><a href="/my/" title="My Autos Center"><span>My Autos</span></a></li> -->
															</ul></div></div></div><div class="ft"><a href="/sitemap.xml" class="more">Silicon Valley Ruby (SVruby) Sitemap»</a></div></div>
				                                    </div>
				                                    <div class="yog-col yog-17u">
				                                        <div class="yog-wrap">
				                                            <div class="yog-col yog-9u first">
				                                                <div class="yom-mod yom-linkbox yom-also-on-yahoo" id="also-on-ruby"><div class="hd"><h2>Also In Ruby</h2></div><div class="bd"><div class="content"><div class="wrap"><ul class="yom-list col first" style="width:33.333333333333%">
																	<li class="first"><a href="http://ruby5.envylabs.com/"><span>Ruby5</span></a></li><li><a href="http://www.sinatrarb.com/"><span>Sinatra</span></a></li><li><a href="http://loudthinking.com/"><span>David Heinemeier Hansson </span></a></li><li><a href="http://confreaks.net/"><span>Confreaks</span></a></li><li class="last"><a href="http://www.actsasconference.com/corey-haines-talks-software-craftsmanship/"><span>Robert Dempsey & Corey Haines </span></a></li></ul><ul start="6" class="yom-list col" style="width:33.333333333333%"><li class="first"><a href="http://twitter.com/#!/bmabey"><span>Ben Mabey</span></a></li><li><a href="http://pragprog.com/categories/ruby_and_rails"><span>Books</span></a></li><li><a href="http://coderpath.com/"><span>CoderPath</span></a></li><li><a href="http://twitter.com/#!/atmos"><span>Corey Donohoe</span></a></li></ul></div></div></div><div class="ft"><a href="/also-in-ruby" class="more">All Ruby! »</a></div></div>
				                                            </div>
				                                            <div class="yog-col yog-8u last">
				                                                <div class="yom-mod yom-linkbox yom-trending" id="trending"><div class="hd"><h2>Latest in Ruby</h2></div><div class="bd"><div class="content"><div class="wrap"><ol class="yom-list col first" style="width:50%"><li class="first"><a href="http://www.infoq.com/bycategory/newsbycategory.action?idx=2&alias=ruby" rel="nofollow"><span>Ruby News</span></a></li><li><a href="http://www.infoq.com/bycategory/contentbycategory.action?idx=2&ct=1&alias=ruby" rel="nofollow"><span>Community Articles</span></a></li><li><a href="http://www.infoq.com/bycategory/contentbycategory.action?idx=2&ct=5&alias=ruby" rel="nofollow"><span>Presentations</span></a></li><li><a href="http://www.infoq.com/bycategory/contentbycategory.action?idx=3&ct=2&alias=ruby" rel="nofollow"><span>Interviews</span></a></li><li><a href="http://www.infoq.com/bycategory/contentbycategory.action?idx=3&ct=2&alias=ruby" rel="nofollow"><span>Interviews</span></a></li>
					</ol></div></div></div></div>
				                                            </div>
				                                        </div>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                    <div id="footer-info" class="yom-mod yom-footer-info" role="contentinfo">
				    <div class="bd">
				        <div class="copyright-providers">
				            <cite></cite>
				        </div>
				        <div class="copyright">
				            <cite>
				                Copyright © Carl Tanner All rights reserved.
				            </cite>
				            <span>

				            </span>
				            <ul>
				                <li class="first"><a href="/about">Help</a> / <a href="/about">Suggestions</a></li>
				                <!-- <li><a href="http://info.yahoo.com/privacy/us/yahoo/">Privacy Policy</a></li> -->
				                <!-- <li><a href="http://info.yahoo.com/relevantads/">About Our Ads</a></li> -->
				                <!-- <li><a href="http://docs.yahoo.com/info/terms/">Terms of Service</a></li> -->
				                <!-- <li class="last"><a href="http://docs.yahoo.com/info/copyright/copyright.html">Copyright/IP Policy</a></li> -->
				            </ul>
				        </div>
				    </div>
				</div>
				                    <!-- SpaceID=2142204230 loc=FSRVY noad -->
				<script language="javascript">
				if(window.yzq_d==null)window.yzq_d=new Object();
				window.yzq_d['OikSTNj8ek4-']='&U=12d8m9qk9%2fN%3dOikSTNj8ek4-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0';
				</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=RrLtBEPDlDlcbnXdSUWfngEQYtLIik3HciMADn7P&T=180ompha2%2fX%3d1304916516%2fE%3d2142204230%2fR%3dautos%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d1592427887%2fH%3dc2VydmVJZD0iUnJMdEJFUERsRGxjYm5YZFNVV2ZuZ0VRWXRMSWlrM0hjaU1BRG43UCIgc2l0ZUlkPSI0NDA3MDUxIiB0U3RtcD0iMTMwNDkxNjUxNjAzNTE0NCIg%2fQ%3d-1%2fS%3d1%2fJ%3dDC878962&U=12d8m9qk9%2fN%3dOikSTNj8ek4-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0"></noscript>
				                </div>

			</div>
		</div>


<!-- captproton trialing scripts -->
                    <!-- SpaceID=2142204230 loc=FSRVY noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['5bahmkwNPQk-']='&U=12dqf8t52%2fN%3d5bahmkwNPQk-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=YzUoumKLPnBcbnXdSUWfngLdYtLIik3IK_QAB7lW&T=1806jcr02%2fX%3d1304964084%2fE%3d2142204230%2fR%3dautos%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2843538030%2fH%3dc2VydmVJZD0iWXpVb3VtS0xQbkJjYm5YZFNVV2ZuZ0xkWXRMSWlrM0lLX1FBQjdsVyIgc2l0ZUlkPSI0NDA3MDUxIiB0U3RtcD0iMTMwNDk2NDA4NDU3ODk1NSIg%2fQ%3d-1%2fS%3d1%2fJ%3d873F8B62&U=12dqf8t52%2fN%3d5bahmkwNPQk-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0"></noscript>
                </div>

            </div>
        </div>
        <!-- SpaceID=2142204230 loc=UMU noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['6bahmkwNPQk-']='&U=12bkgv2k5%2fN%3d6bahmkwNPQk-%2fC%3d-1%2fD%3dUMU%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=YzUoumKLPnBcbnXdSUWfngLdYtLIik3IK_QAB7lW&T=180f8asnh%2fX%3d1304964084%2fE%3d2142204230%2fR%3dautos%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d3323014828%2fH%3dc2VydmVJZD0iWXpVb3VtS0xQbkJjYm5YZFNVV2ZuZ0xkWXRMSWlrM0lLX1FBQjdsVyIgc2l0ZUlkPSI0NDA3MDUxIiB0U3RtcD0iMTMwNDk2NDA4NDU3ODk1NSIg%2fQ%3d-1%2fS%3d1%2fJ%3d873F8B62&U=12bkgv2k5%2fN%3d6bahmkwNPQk-%2fC%3d-1%2fD%3dUMU%2fB%3d-1%2fV%3d0"></noscript>
        		
		<script language="javascript">
		
YUI.YUICfg = {"gallery":"gallery-2011.04.20-13-04","groups":{"group01c9d8dea06e05460a64eed4dadd622b6":{"base":"http:\/\/l.yimg.com\/","comboBase":"http:\/\/l.yimg.com\/zz\/combo?","modules":{"media-searchform":{"path":"os\/mit\/media\/m\/search\/searchform-min-89772.js"},"media-ylc":{"path":"d\/lib\/ult\/ylc_1.9.js"},"media-strip":{"path":"d\/lib\/ult\/strip_1.12.js"},"media-jumbotron":{"path":"os\/mit\/media\/m\/jumbotron\/jumbotron-min-82653.js"},"media-connection":{"path":"d\/lib\/yui\/2.8.0r4\/build\/connection\/connection-min.js"},"media-element":{"path":"d\/lib\/yui\/2.8.0r4\/build\/element\/element-min.js"},"media-animation":{"path":"d\/lib\/yui\/2.8.0r4\/build\/animation\/animation-min.js"},"media-json":{"path":"d\/lib\/yui\/2.8.0r4\/build\/json\/json-min.js"},"media-carousel-data":{"path":"os\/mit\/media\/m\/carousel\/carousel-data-min-56564.js"},"media-carousel":{"path":"os\/mit\/media\/m\/carousel\/carousel-min-85501.js"},"media-index":{"path":"os\/mit\/media\/m\/index\/index-min-104570.js"},"media-topstory":{"path":"os\/mit\/media\/m\/index\/topstory-min-107751.js"},"media-tracking":{"path":"os\/mit\/media\/m\/base\/tracking-min-54381.js"}},"combine":true,"root":"\/"}}}
YUI(YUI.YUICfg).use("media-searchform","node","event-delegate",function(Y){    	
    	  
});

YUI.Env.add(window, "load", function(){
YUI(YUI.YUICfg).use("media-ylc","media-strip","node","event","anim","event-mouseenter","media-jumbotron","media-connection","media-element","media-animation","media-json","media-carousel-data","media-carousel","media-index","media-topstory","event-base","event-delegate","json","io-base","node-base","overlay","substitute","media-tracking",function(Y){    	
    	  Y.Media.Jumbotron.init();var Topstory = new Y.Media.Topstory({
                                'tabbedListId': 'mediatopstorycoke',
                                'ids'      : ["b959261b-965d-46bc-923f-a1900e670868",""],
                                'latestList': [0,1],
                                'argsList' : [{"storycount":"5","img_start":"","img_end":"","popup_switch":"1","provider_switch":"0","timestamp_switch":"0","max_title_length":"35","max_summary_length":"165","item_template":"title_thumb_summary"},{"storycount":"5","img_start":"","img_end":"","popup_switch":"1","provider_switch":"0","timestamp_switch":"0","max_title_length":"35","max_summary_length":"165","item_template":"title_thumb_summary"}],
                                'labels'   : { "more" : 'More' },
                                'defaultSec' : '',
                                'spaceId'  : '2142204230',
                                'pagequery': '%7B%22class%22%3A%22connective%22%2C%22subclass%22%3A%22and%22%2C%22inclusive%22%3A%5B%7B%22class%22%3A%22condition%22%2C%22subclass%22%3A%22string%22%2C%22operator%22%3A%22is%22%2C%22field%22%3A%22language%22%2C%22value%22%3A%22en%22%7D%2C%7B%22class%22%3A%22condition%22%2C%22subclass%22%3A%22string%22%2C%22operator%22%3A%22is%22%2C%22field%22%3A%22tags%22%2C%22value%22%3A%22yautos%3Aregion%3DUS%22%7D%2C%7B%22class%22%3A%22condition%22%2C%22subclass%22%3A%22string%22%2C%22operator%22%3A%22is%22%2C%22field%22%3A%22tags%22%2C%22value%22%3A%22ymedia%3Atype%3Dstory%22%7D%2C%7B%22class%22%3A%22condition%22%2C%22field%22%3A%22facets%22%2C%22operator%22%3A%22is%22%2C%22subclass%22%3A%22string%22%2C%22value%22%3A%22yahoo-media%3Astory%22%7D%5D%2C%22exclusive%22%3A%5B%5D%7D',
                                'popupswitch' : '"1"',
                                'queryUrl' : 'list_id={list_id}&selected_tab={selected_tab}&latest_on={latest_on}&s=2142204230&sec={sec}&pagequery={pagequery}&storycount={storycount}&img_start={img_start}&img_end={img_end}&provider_switch={provider_switch}&timestamp_switch={timestamp_switch}&max_title_length={max_title_length}&max_summary_length={max_summary_length}&crumb={crumb}&item_template={item_template}'
                           });  
                Topstory.init();;
C=YAHOO.namespace("Media.Carousels.groups.index-carousel-950479923");
C.dmgr = new YAHOO.Media.CarouselDataManager({"items":{"24978791":{"id":"24978791","rev":null,"url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/dBbYv.IQdLxL_Sui9nNPOA--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123247035.jpg","wd":300,"hgt":170,"ttle":"2011 Volkswagen Touareg Hybrid","date":"2:14","rating":null,"views":"<span>961<\/span> views","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"Silicon Valley Ruby (SVruby)","plnk":"\/video\/wheelstv-13069429\/2011-volkswagen-touareg-hybrid-24978791.html","title":"2011 Volkswagen Touareg Hybrid","type":"video","ultpos":"pos=1;","play":"<span class=\"action play\">Play Video<\/span>","thmb":"<a class=\"media\" href=\"\/video\/wheelstv-13069429\/2011-volkswagen-touareg-hybrid-24978791.html\" mapleUltParams=\"pkg=24978791;ver=;pos=1;\" alt=\"2011 Volkswagen Touareg Hybrid\" title=\"2011 Volkswagen Touareg Hybrid\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"2011 Volkswagen Touareg Hybrid\" title=\"2011 Volkswagen Touareg Hybrid\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/dBbYv.IQdLxL_Sui9nNPOA--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123247035.jpg\"\/><span class=\"action play\">Play Video<\/span><\/a>","slk":"2011volkswag"},"24978784":{"id":"24978784","rev":null,"url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/lpm3xY2aMh6bAdMcYAS3AA--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123247027.jpg","wd":300,"hgt":170,"ttle":"2011 Toyota Corolla","date":"1:38","rating":null,"views":"<span>93<\/span> views","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"Silicon Valley Ruby (SVruby)","plnk":"\/video\/wheelstv-13069414\/2011-toyota-corolla-24978784.html","title":"2011 Toyota Corolla","type":"video","ultpos":"pos=2;","play":"<span class=\"action play\">Play Video<\/span>","thmb":"<a class=\"media\" href=\"\/video\/wheelstv-13069414\/2011-toyota-corolla-24978784.html\" mapleUltParams=\"pkg=24978784;ver=;pos=2;\" alt=\"2011 Toyota Corolla\" title=\"2011 Toyota Corolla\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"2011 Toyota Corolla\" title=\"2011 Toyota Corolla\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/lpm3xY2aMh6bAdMcYAS3AA--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123247027.jpg\"\/><span class=\"action play\">Play Video<\/span><\/a>","slk":"2011toyotaco"},"24978777":{"id":"24978777","rev":null,"url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/MToxbwcttU1Zsv9gXro2Gg--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123247012.jpg","wd":300,"hgt":170,"ttle":"2011 Suzuki Kizashi","date":"1:53","rating":null,"views":"<span>53<\/span> views","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"Silicon Valley Ruby (SVruby)","plnk":"\/video\/wheelstv-13069392\/2011-suzuki-kizashi-24978777.html","title":"2011 Suzuki Kizashi","type":"video","ultpos":"pos=3;","play":"<span class=\"action play\">Play Video<\/span>","thmb":"<a class=\"media\" href=\"\/video\/wheelstv-13069392\/2011-suzuki-kizashi-24978777.html\" mapleUltParams=\"pkg=24978777;ver=;pos=3;\" alt=\"2011 Suzuki Kizashi\" title=\"2011 Suzuki Kizashi\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"2011 Suzuki Kizashi\" title=\"2011 Suzuki Kizashi\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/MToxbwcttU1Zsv9gXro2Gg--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123247012.jpg\"\/><span class=\"action play\">Play Video<\/span><\/a>","slk":"2011suzukiki"},"24978774":{"id":"24978774","rev":null,"url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/J2VY3gcWtn2LTQXLJMHuWQ--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123246996.jpg","wd":300,"hgt":170,"ttle":"2011 Suzuki Equator","date":"1:48","rating":null,"views":"<span>63<\/span> views","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"Yahoo! Autos","plnk":"\/video\/wheelstv-13069392\/2011-suzuki-equator-24978774.html","title":"2011 Suzuki Equator","type":"video","ultpos":"pos=4;","play":"<span class=\"action play\">Play Video<\/span>","thmb":"<a class=\"media\" href=\"\/video\/wheelstv-13069392\/2011-suzuki-equator-24978774.html\" mapleUltParams=\"pkg=24978774;ver=;pos=4;\" alt=\"2011 Suzuki Equator\" title=\"2011 Suzuki Equator\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"2011 Suzuki Equator\" title=\"2011 Suzuki Equator\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/J2VY3gcWtn2LTQXLJMHuWQ--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123246996.jpg\"\/><span class=\"action play\">Play Video<\/span><\/a>","slk":"2011suzukieq"},"24978768":{"id":"24978768","rev":null,"url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/BWvnddvJ6pYTBdp9uo_AmA--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123247006.jpg","wd":300,"hgt":170,"ttle":"2011 Suzuki Grand Vitara","date":"1:32","rating":null,"views":"<span>52<\/span> views","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"Yahoo! Autos","plnk":"\/video\/wheelstv-13069392\/2011-suzuki-grand-vitara-24978768.html","title":"2011 Suzuki Grand Vitara","type":"video","ultpos":"pos=5;","play":"<span class=\"action play\">Play Video<\/span>","thmb":"<a class=\"media\" href=\"\/video\/wheelstv-13069392\/2011-suzuki-grand-vitara-24978768.html\" mapleUltParams=\"pkg=24978768;ver=;pos=5;\" alt=\"2011 Suzuki Grand Vitara\" title=\"2011 Suzuki Grand Vitara\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"2011 Suzuki Grand Vitara\" title=\"2011 Suzuki Grand Vitara\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/BWvnddvJ6pYTBdp9uo_AmA--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/l.yimg.com\/a\/p\/i\/bcst\/yp\/yautos\/y!autos\/14751\/123247006.jpg\"\/><span class=\"action play\">Play Video<\/span><\/a>","slk":"2011suzukigr"}},"total":5,"start":0,"keys":["24978791","24978784","24978777","24978774","24978768"]}, Y.merge({ "method": "GET", "url": function(start,end,dataManager){ return "/xhr/carousel-resources/?start=" + start + "&count=" + (end-start) + "&template="+encodeURIComponent(dataManager.getConfig().template_name) + "&list_id=" + encodeURIComponent('') + "&title_length=40&title_video_length=30&caption_length=60"; }, "totalItems": 5, "batchSize": 5, "timeout": 10000 }, {"template_name": "xl_thmb_play_ttle_atrb_date"}));C.cids = []; C.mdtr = null;;
C=YAHOO.namespace("Media.Carousels.groups.index-carousel-132079230");
C.dmgr = new YAHOO.Media.CarouselDataManager({"items":{"eae0d37d-acd5-3501-aa8f-08553b28ce88":{"id":"eae0d37d-acd5-3501-aa8f-08553b28ce88","rev":"23476988-760f-11e0-b43b-73ccb65b4c64","url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/c._czty1ZgYwNj2juWHJug--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/en_us\/News\/ap_webfeeds\/b99d897cec3c6104e60e6a706700a0ee.jpg","wd":300,"hgt":170,"ttle":"2012 Lamborghini Aventador","date":"","rating":null,"views":"<span>0<\/span> view","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"6 photos","plnk":"\/photos\/2012-lamborghini-aventador-slideshow\/","title":"2012 Lamborghini Aventador","play":"","type":"slideshow","ultpos":"pos=1;","thmb":"<a class=\"media\" href=\"\/photos\/2012-lamborghini-aventador-slideshow\/\" mapleUltParams=\"pkg=eae0d37d-acd5-3501-aa8f-08553b28ce88;ver=23476988-760f-11e0-b43b-73ccb65b4c64;pos=1;\" alt=\"2012 Lamborghini Aventador\" title=\"2012 Lamborghini Aventador\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"2012 Lamborghini Aventador\" title=\"2012 Lamborghini Aventador\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/c._czty1ZgYwNj2juWHJug--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/en_us\/News\/ap_webfeeds\/b99d897cec3c6104e60e6a706700a0ee.jpg\"\/><\/a>","slk":"2012lamborgh"},"5fd8417f-a4dc-3ffb-82f4-54c3476404aa":{"id":"5fd8417f-a4dc-3ffb-82f4-54c3476404aa","rev":"4860392c-7027-11e0-98d4-78e7d15ea148","url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/QvAHeGTnWjiYrOuW0BAh3g--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/290\/2011\/04\/20\/2011-volvo-universe-concept_032102.jpg","wd":300,"hgt":170,"ttle":"Concept Cars Debut at the Shanghai Auto &nbsp;&hellip;","date":"","rating":null,"views":"<span>0<\/span> view","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"11 photos","plnk":"\/photos\/concept-cars-debut-at-the-shanghai-auto-show-slideshow\/","title":"Concept Cars Debut at the Shanghai Auto Show","play":"","type":"slideshow","ultpos":"pos=2;","thmb":"<a class=\"media\" href=\"\/photos\/concept-cars-debut-at-the-shanghai-auto-show-slideshow\/\" mapleUltParams=\"pkg=5fd8417f-a4dc-3ffb-82f4-54c3476404aa;ver=4860392c-7027-11e0-98d4-78e7d15ea148;pos=2;\" alt=\"Concept Cars Debut at the Shanghai Auto Show\" title=\"Concept Cars Debut at the Shanghai Auto Show\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"Concept Cars Debut at the Shanghai Auto Show\" title=\"Concept Cars Debut at the Shanghai Auto Show\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/QvAHeGTnWjiYrOuW0BAh3g--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/290\/2011\/04\/20\/2011-volvo-universe-concept_032102.jpg\"\/><\/a>","slk":"conceptcarsd"},"3cfa4133-6773-3f0e-8b77-2857afba4faa":{"id":"3cfa4133-6773-3f0e-8b77-2857afba4faa","rev":"c90331ac-6efa-11e0-b3de-78e7d162bc7e","url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/VSkspPK.ZYRpdhQXAE4NDg--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/290\/2011\/04\/25\/NYIAS-Cover_025337.jpg","wd":300,"hgt":170,"ttle":"Highlights from the 2011 New York Auto S&nbsp;&hellip;","date":"","rating":null,"views":"<span>0<\/span> view","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"14 photos","plnk":"\/photos\/highlights-from-the-2011-new-york-auto-show-slideshow\/","title":"Highlights from the 2011 New York Auto Show","play":"","type":"slideshow","ultpos":"pos=3;","thmb":"<a class=\"media\" href=\"\/photos\/highlights-from-the-2011-new-york-auto-show-slideshow\/\" mapleUltParams=\"pkg=3cfa4133-6773-3f0e-8b77-2857afba4faa;ver=c90331ac-6efa-11e0-b3de-78e7d162bc7e;pos=3;\" alt=\"Highlights from the 2011 New York Auto Show\" title=\"Highlights from the 2011 New York Auto Show\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"Highlights from the 2011 New York Auto Show\" title=\"Highlights from the 2011 New York Auto Show\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/VSkspPK.ZYRpdhQXAE4NDg--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/290\/2011\/04\/25\/NYIAS-Cover_025337.jpg\"\/><\/a>","slk":"highlightsfr"},"1db283c5-7ee5-3df4-bb37-74b0630c74c6":{"id":"1db283c5-7ee5-3df4-bb37-74b0630c74c6","rev":"b3c78cbe-6ba0-11e0-ad88-f7bec5394d3f","url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/EAZ_3JiDVQiFSWIDQfd_Og--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/290\/2011\/04\/20\/weird-IMG-4248_074339.jpg","wd":300,"hgt":170,"ttle":"11 Strangest Cars at the 2011 Shanghai Auto&nbsp;&hellip;","date":"","rating":null,"views":"<span>0<\/span> view","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"11 photos","plnk":"\/photos\/11-strangest-cars-at-the-2011-shanghai-auto-show-slideshow\/","title":"11 Strangest Cars at the 2011 Shanghai Auto Show","play":"","type":"slideshow","ultpos":"pos=4;","thmb":"<a class=\"media\" href=\"\/photos\/11-strangest-cars-at-the-2011-shanghai-auto-show-slideshow\/\" mapleUltParams=\"pkg=1db283c5-7ee5-3df4-bb37-74b0630c74c6;ver=b3c78cbe-6ba0-11e0-ad88-f7bec5394d3f;pos=4;\" alt=\"11 Strangest Cars at the 2011 Shanghai Auto Show\" title=\"11 Strangest Cars at the 2011 Shanghai Auto Show\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"11 Strangest Cars at the 2011 Shanghai Auto Show\" title=\"11 Strangest Cars at the 2011 Shanghai Auto Show\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/EAZ_3JiDVQiFSWIDQfd_Og--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/290\/2011\/04\/20\/weird-IMG-4248_074339.jpg\"\/><\/a>","slk":"11strangestc"},"ab17eda4-c73f-3139-8448-6a012a4410c1":{"id":"ab17eda4-c73f-3139-8448-6a012a4410c1","rev":"def52a02-664d-11e0-abbb-03039b1e1acc","url":"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/RC_A3tySJh4yyrTX8NHfJw--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/290\/2011\/04\/14\/lexus-lf-gh-hybrid-concept-100346262-l_034854.jpg","wd":300,"hgt":170,"ttle":"Lexus LF-Gh Hybrid Concept","date":"","rating":null,"views":"<span>0<\/span> view","tlnk1":null,"lnk1":null,"tlnk2":null,"lnk2":null,"atrb":"15 photos","plnk":"\/photos\/lexus-lf-gh-hybrid-concept-slideshow\/","title":"Lexus LF-Gh Hybrid Concept","play":"","type":"slideshow","ultpos":"pos=5;","thmb":"<a class=\"media\" href=\"\/photos\/lexus-lf-gh-hybrid-concept-slideshow\/\" mapleUltParams=\"pkg=ab17eda4-c73f-3139-8448-6a012a4410c1;ver=def52a02-664d-11e0-abbb-03039b1e1acc;pos=5;\" alt=\"Lexus LF-Gh Hybrid Concept\" title=\"Lexus LF-Gh Hybrid Concept\"><img class=\"center\" width=\"300\" height=\"170\" alt=\"Lexus LF-Gh Hybrid Concept\" title=\"Lexus LF-Gh Hybrid Concept\" src=\"http:\/\/l.yimg.com\/bt\/api\/res\/1.2\/RC_A3tySJh4yyrTX8NHfJw--\/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw\/http:\/\/media.zenfs.com\/290\/2011\/04\/14\/lexus-lf-gh-hybrid-concept-100346262-l_034854.jpg\"\/><\/a>","slk":"lexuslfghhyb"}},"total":5,"start":0,"keys":["eae0d37d-acd5-3501-aa8f-08553b28ce88","5fd8417f-a4dc-3ffb-82f4-54c3476404aa","3cfa4133-6773-3f0e-8b77-2857afba4faa","1db283c5-7ee5-3df4-bb37-74b0630c74c6","ab17eda4-c73f-3139-8448-6a012a4410c1"]}, Y.merge({ "method": "GET", "url": function(start,end,dataManager){ return "/xhr/carousel-resources/?start=" + start + "&count=" + (end-start) + "&template="+encodeURIComponent(dataManager.getConfig().template_name) + "&list_id=" + encodeURIComponent('1637ed2b-9164-45bc-9d5c-4f2fba5dcd64') + "&title_length=40&title_video_length=30&caption_length=60"; }, "totalItems": 5, "batchSize": 5, "timeout": 10000 }, {"template_name": "xl_thmb_play_ttle_atrb_date"}));C.cids = []; C.mdtr = null;;
C=YAHOO.namespace("Media.Carousels.groups.index-carousel-950479923");
C.cids.push("index-carousel-950479923");YAHOO.Media.Carousels.insts["index-carousel-950479923"]=new YAHOO.Media.Carousel(Y, Y.merge({"type":"filmstrip","pagination":"{firstVisible} - {lastVisible} of {numItems}","yui":{"numVisible":1,"animation":{"speed":0.7},"selectedItem":0,"numItems":5},"selectedIndex":0,"template":"<div class=\"{noimg}{extclass}\">{thmb}<p><a class=\"ttl\" href=\"{plnk}\" alt=\"{title}\" title=\"{title}\" mapleUltParams=\"pkg={id};ver={rev};{ccode}{ultpos}\">{ttle}<\/a><\/p><p class=\"cptn\">{cptn}<\/p><p><span>{atrb}<\/span> - <em>{date}<\/em><\/p><\/div>","template_name":"xl_thmb_play_ttle_atrb_date","i18n":{"end_of_gallery_header":"End of Gallery","end_of_gallery_next":"View Again"},"metadata":{"pagination":"{firstVisible} - {lastVisible} of {numItems}","ult":{"spaceid":"2142204230","sec":""}}},{"id": "index-carousel-950479923", "dataManager": C.dmgr, "mediator": C.mdtr, "group_name":"index-carousel-950479923", "track_item_selected":0,"tracking":{
                                       "spaceid" : "2142204230",
                                       "events" : {
                                          "click" : {
                                             "any" : {
                                                "yui-carousel-prev" : {
                                                   "node" : "a",
                                                   "data" : {"sec":"","slk":"prev"},
                                                   "bubbles" : true,
                                                   "test": function(params){
                                                        var carousel = params.obj.getCarousel();     
                                                        var pages = carousel._pages;
                                                        
                                                        // if same page, don't beacon
                                                        if(("_ult_current_page" in carousel) && carousel._ult_current_page==pages.cur) return false;
                                                        
                                                        // keep track of current position within this closure
                                                        carousel._ult_current_page = pages.cur;
                                                                                                               
                                                        return true;
                                                   }
                                                },
                                                "yui-carousel-next" : {
                                                   "node" : "a",
                                                   "data" : {"sec":"","slk":"next"},
                                                   "bubbles" : true,
                                                   "test": function(params){
                                                        var carousel = params.obj.getCarousel();     
                                                        var pages = carousel._pages;
                                                                                                               
                                                        // no more pages, don't beacon again
                                                        // if same page, don't beacon
                                                        if(("_ult_current_page" in carousel) && carousel._ult_current_page==pages.cur) return false;
                                                        
                                                        // keep track of current position within this closure
                                                        carousel._ult_current_page = pages.cur;                                                                                                                                                                                                                                
                                                        return true;
                                                   }
                                                }
                                             }
                                          }
                                       }
                                    }                                    
                            }));;
C=YAHOO.namespace("Media.Carousels.groups.index-carousel-132079230");
C.cids.push("index-carousel-132079230");YAHOO.Media.Carousels.insts["index-carousel-132079230"]=new YAHOO.Media.Carousel(Y, Y.merge({"type":"filmstrip","pagination":"{firstVisible} - {lastVisible} of {numItems}","yui":{"numVisible":1,"animation":{"speed":0.7},"selectedItem":0,"numItems":5},"selectedIndex":0,"template":"<div class=\"{noimg}{extclass}\">{thmb}<p><a class=\"ttl\" href=\"{plnk}\" alt=\"{title}\" title=\"{title}\" mapleUltParams=\"pkg={id};ver={rev};{ccode}{ultpos}\">{ttle}<\/a><\/p><p class=\"cptn\">{cptn}<\/p><p><span>{atrb}<\/span> - <em>{date}<\/em><\/p><\/div>","template_name":"xl_thmb_play_ttle_atrb_date","i18n":{"end_of_gallery_header":"End of Gallery","end_of_gallery_next":"View Again"},"metadata":{"pagination":"{firstVisible} - {lastVisible} of {numItems}","ult":{"spaceid":"2142204230","sec":""}}},{"id": "index-carousel-132079230", "dataManager": C.dmgr, "mediator": C.mdtr, "group_name":"index-carousel-132079230", "track_item_selected":0,"tracking":{
                                       "spaceid" : "2142204230",
                                       "events" : {
                                          "click" : {
                                             "any" : {
                                                "yui-carousel-prev" : {
                                                   "node" : "a",
                                                   "data" : {"sec":"","slk":"prev"},
                                                   "bubbles" : true,
                                                   "test": function(params){
                                                        var carousel = params.obj.getCarousel();     
                                                        var pages = carousel._pages;
                                                        
                                                        // if same page, don't beacon
                                                        if(("_ult_current_page" in carousel) && carousel._ult_current_page==pages.cur) return false;
                                                        
                                                        // keep track of current position within this closure
                                                        carousel._ult_current_page = pages.cur;
                                                                                                               
                                                        return true;
                                                   }
                                                },
                                                "yui-carousel-next" : {
                                                   "node" : "a",
                                                   "data" : {"sec":"","slk":"next"},
                                                   "bubbles" : true,
                                                   "test": function(params){
                                                        var carousel = params.obj.getCarousel();     
                                                        var pages = carousel._pages;
                                                                                                               
                                                        // no more pages, don't beacon again
                                                        // if same page, don't beacon
                                                        if(("_ult_current_page" in carousel) && carousel._ult_current_page==pages.cur) return false;
                                                        
                                                        // keep track of current position within this closure
                                                        carousel._ult_current_page = pages.cur;                                                                                                                                                                                                                                
                                                        return true;
                                                   }
                                                }
                                             }
                                          }
                                       }
                                    }                                    
                            }));if(document.onclick===YAHOO.Media.PreventDefaultHandler.newClick){document.onclick=YAHOO.Media.PreventDefaultHandler.oldClick;}
});
});
	    </script>

   <!--FOOT9-->
    </body>
</html>

		<script language=javascript>
		if(window.yzq_p==null)document.write("<scr"+"ipt language=javascript src=http://l.yimg.com/d/lib/bc/bc_2.0.5.js></scr"+"ipt>");
		</script><script language=javascript>
		if(window.yzq_p)yzq_p('P=YzUoumKLPnBcbnXdSUWfngLdYtLIik3IK_QAB7lW&T=17rhe2ee2%2fX%3d1304964084%2fE%3d2142204230%2fR%3dautos%2fK%3d5%2fV%3d1.1%2fW%3dJ%2fY%3dYAHOO%2fF%3d1417010420%2fH%3dc2VydmVJZD0iWXpVb3VtS0xQbkJjYm5YZFNVV2ZuZ0xkWXRMSWlrM0lLX1FBQjdsVyIgc2l0ZUlkPSI0NDA3MDUxIiB0U3RtcD0iMTMwNDk2NDA4NDU3ODk1NSIg%2fS%3d1%2fJ%3d873F8B62');
		if(window.yzq_s)yzq_s();
		</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=YzUoumKLPnBcbnXdSUWfngLdYtLIik3IK_QAB7lW&T=17vmvpqku%2fX%3d1304964084%2fE%3d2142204230%2fR%3dautos%2fK%3d5%2fV%3d3.1%2fW%3dJ%2fY%3dYAHOO%2fF%3d337874073%2fH%3dc2VydmVJZD0iWXpVb3VtS0xQbkJjYm5YZFNVV2ZuZ0xkWXRMSWlrM0lLX1FBQjdsVyIgc2l0ZUlkPSI0NDA3MDUxIiB0U3RtcD0iMTMwNDk2NDA4NDU3ODk1NSIg%2fQ%3d-1%2fS%3d1%2fJ%3d873F8B62"></noscript><script language=javascript>
		if(window.xzq_p==null)document.write("<scr"+"ipt language=javascript src='http://e.yimg.com/ii/yabcs.js'></scr"+"ipt>");
		</script><script language=javascript>
		if(window.xzq_svr)xzq_svr('http://csc.beap.ad.yieldmanager.net/');
		if(window.xzq_p)xzq_p('i?bv=1.0.0&bs=(1288oaq1g(gid$YzUoumKLPnBcbnXdSUWfngLdYtLIik3IK_QAB7lW,st$1304964084578955,v$1.0))&t=J-D');
		if(window.xzq_s)xzq_s();
		</script><noscript><img width=1 height=1 alt="" src="http://csc.beap.ad.yieldmanager.net/i?bv=1.0.0&bs=(1288oaq1g(gid$YzUoumKLPnBcbnXdSUWfngLdYtLIik3IK_QAB7lW,st$1304964084578955,v$1.0))&t=J-D"></noscript>
		<!-- fe9.global.media.ac4.yahoo.com compressed Mon May  9 18:01:24 UTC 2011 -->
