<div class='panel third'>
  <h2>Links</h2>
  <h3>Mailing Lists</h3>
  <ul>
    <li>
      <%= link_to 'Silicon Valley Ruby Meetup', 'http://www.meetup.com/silicon-valley-ruby/messages/archive/' %>
    </li>    
    <li>
      <%= link_to 'Christchurch', 'http://groups.google.com/group/christchurch-on-rails/' %>
    </li>
    <li>
      <%= link_to 'WellRailed (Wellington)', 'http://groups.google.com/group/wellrailed' %>
    </li>
    <li>
      <%= link_to 'Rails Oceania', 'http://groups.google.com/group/rails-oceania/' %>
    </li>
  </ul>
  <h3>Other Sites</h3>
  <ul>
    <li>
      <%= link_to "Our Meetup Group", "http://www.meetup.com/silicon-valley-ruby/"%>
    </li>
    <li>
      <%= link_to "Our Github Account", "https://github.com/svruby"%>
    </li>
    <li>
      <%= link_to "SVruby Awards", "http://awards.svruby.com/"%>
    </li>
    <li>
      <%= link_to "List of Companies", "http://workingwithrails.com/browse/companies/country/United+States"%>
    </li>
    <li>
      <%= link_to "List of People", "http://workingwithrails.com/browse/people/country/United+States"%>
    </li>
    <li>
      <%= link_to "Rails Camp", "http://railscamps.com" %>
    </li>
  </ul>
</div>